<div class="container-fluid bg-primary">
    <div class="row  align-items-center justify-content-end ">
        <div class="text-dark m-3 "> <h3 class="hello">Hello , {{userData.email}}</h3> </div>
        <span class="btn btn-warning btn-sm m-3"  (click)="signOut()" >Logout</span>
  </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-4">
    <div class="sidebar"> <small class="text-muted pl-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
      </svg> admin dashboard</small>
        <ul>
            <h2 class="text-muted pl-3">manage users</h2>
            <li><a class="navbar-brand" type="button" (click)="onclick()"
            ><i class="fas fa-home"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg> providers</a></li>
            <li><a class="navbar-brand" type="button" 
                ><i class="fas fa-home"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg> customers</a></li>
            
           
        </ul> <h2 class="text-muted px-3">Manage products</h2>
        <ul>
            <li><a class="navbar-brand" type="button" (click)="onclick2()"><i class="far fa-credit-card"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
              </svg> Products</a></li>
            
        </ul> <small class="text-muted px-3">GROW YOUR CLIENT BASE</small>
        <ul>
            <li><a  class="navbar-brand" href="#"><i class="fas fa-external-link-alt"></i>Share</a></li>
            <li><a class="navbar-brand" href="#"><i class="fas fa-code"></i>Add to Website</a></li>
        </ul>
    </div>
</div>
<div class="col-8">
  <div class="row justify-content-center m-3">
    <img src="/assets/photos/customers.png" alt="image"> 
  </div>
    <div class="container m-3">
        <div class="border m-2">
            <table class="table table-bordered ">
                <thead>
                  <tr class="table-secondary">
                    
                    <th scope="col">ID</th>
                    <th scope="col">name</th>
                    <th scope="col">email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-Light" *ngFor="let users of (customers|async)">
                    
                    <td>{{users.id}}</td>
                    <td>{{users.name}}</td>
                    <td>{{users.email}}</td>
                    <td><a type="button" (click)="delete(users.id)" ><img src="/assets/photos/deleteuser.png"></a></td>
                   
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</div>
</div>
</div>
