<div class="container-fluid bg-primary">
  <div class="row align-items-center justify-content-end">
    <span class="btn btn-warning btn-sm m-3" (click)="goback()"
      >Back to dashboard</span
    >
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-7">
            <img src="/assets/photos/image.jpg" alt="image"> 
        </div>
        <div class="col-5">
            <div class="formgroup m-2 bg-light">
        <form [formGroup]="moviesForm" (ngSubmit)="submitReactiveForm(email.value,password.value,name.value,username.value)" class="m-3">
        <div class="mb-3">
          <label for="myname" class="form-label">name</label>
          <input
            type="text"
            class="form-control"
            id="myname"
            name="myname"
            formControlName="myname"
            #name
          />
          <div
          *ngIf="
            moviesFormControls.myname?.touched &&
            !moviesFormControls.myname?.valid
          "
        >
          <small
            class="text-danger"
            *ngIf="moviesFormControls.myname.errors?.required"
            >Required</small
          >
          
        </div>
        </div>
       
    
        <div class="mb-3">
            <label for="emailid" class="form-label">email</label>
            <input
              type="text"
              class="form-control"
              id="emailid"
              name="email"
              formControlName="email"
              #email
            />
            <div
            *ngIf="
              moviesFormControls.email?.touched &&
              !moviesFormControls.email?.valid
            "
          >
            <small
              class="text-danger"
              *ngIf="moviesFormControls.email.errors?.required"
              >email required</small
            >
            <small
            class="text-danger"
            *ngIf="moviesFormControls.email.errors?.pattern"
            >invalid email format</small
          >
            
           
            
          </div>
          </div>
         
    
          <div class="mb-3">
            <label for="usernameid" class="form-label">user name</label>
            <input
              type="text"
              class="form-control"
              id="usernameid"
              name="username"
              formControlName="username"
              #username
            />
            <div
            *ngIf="
              moviesFormControls.username?.touched &&
              !moviesFormControls.username?.valid
            "
          >
            <small
              class="text-danger"
              *ngIf="moviesFormControls.username.errors?.required"
              >username required</small
            >
            <small
            class="text-danger"
            *ngIf="moviesFormControls.username.errors?.pattern"
            >white-spaces not allowed </small
          >
           
            
          </div>
          </div>
    
    
          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input
              type="text"
              class="form-control"
              id="password"
              name="password"
              formControlName="password"
              #password
            />
            <div
            *ngIf="
              moviesFormControls.password?.touched &&
              !moviesFormControls.password?.valid
            "
          >
            <small
              class="text-danger"
              *ngIf="moviesFormControls.password.errors?.required"
              >password required</small
            >
            <small
            class="text-danger"
            *ngIf="moviesFormControls.password.errors?.pattern"
            >invalid password exaple sohila@123</small
          >
           
            
          </div>
          </div>
    
    
         
        <button
          type="submit"
          class="btn btn-primary my-5"
          
        >
          Submit
        </button>
       
      </form>
    </div>
    </div>
    </div>
      
    </div>
      
    

