<div class="container-fluid bg-primary">
  <div class="row  align-items-center">
    <div class="col-4 m-3">
  <span type='button' routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }" class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
  </svg> HOME</span>
</div>
</div>
</div>


<div class="container ">
    <div class="row">
        <div class="col-7">
            <img src="/assets/photos/images.png" alt="image"> 
        </div>
        <div class="col-5 mt-5">
            <div class="formgroup bg-light">
    <form [formGroup]="moviesForm" (ngSubmit)="submitReactiveForm(this.email.value,this.password.value)" class="m-3" >

        
    
        <div class="mb-3">
            <label for="emailid" class="form-label">email</label>
            <input
              type="text"
              class="form-control"
              id="emailid"
              name="email"
              formControlName="email"
              #email
            />
            <div
            *ngIf="
              moviesFormControls.email?.touched &&
              !moviesFormControls.email?.valid
            "
          >
            <small
              class="text-danger"
              *ngIf="moviesFormControls.email.errors?.required"
              >email required</small
            >
            <small
            class="text-danger"
            *ngIf="moviesFormControls.email.errors?.pattern"
            >invalid email format</small
          >
            
           
            
          </div>
          </div>
         
    
         
    
    
          <div class="mb-3">
            <label  for="password" class="form-label">password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              formControlName="password"
              #password
            />
            <div
            *ngIf="
              moviesFormControls.password?.touched &&
              !moviesFormControls.password?.valid
            "
          >
            <small
              class="text-danger"
              *ngIf="moviesFormControls.password.errors?.required"
              >password required</small
            >
            <small
            class="text-danger"
            *ngIf="moviesFormControls.password.errors?.pattern"
            >invalid password exaple sohila@123</small
          >
           
            
          </div>
          </div>
    
    
         
        <button
          type="submit"
          class="btn btn-primary m-4"
          
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
          Log In
        </button>
        <div class="text-danger">{{invalid}}</div>
       
      </form>
     
      
    </div>
    </div>
    </div>
    </div>
      
    
