<!-- <nav class="navbar navbar-light bg-primary"> -->
    <div class="container-fluid bg-primary">
      <div class="row  align-items-center">
        <div class="col-4">
      <span type='button' routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Home</span>
    </div>
    
    <div class="col-8 ">
      <div class="row justify-content-end m-2">
      <button type="button" class="btn btn-warning  m-1" (click)="login()">Log In</button>
      <button type="button" class="btn btn-warning  m-1" (click)="register()">Register</button>
    </div>
    </div>
    </div>
    </div>
  <!-- </nav> -->
  
