
    <div class="container-fluid bg-primary">
        <div class="row  align-items-center justify-content-end ">
            <div class="text-dark m-3"> hello {{userData.email}}</div>
            <span class="btn btn-warning btn-sm m-3"  (click)="signOut()" >Logout</span>
      </div>
      </div>
     
<div class="container">
    <div class="sidebar"> 
       
        
        <small class="text-muted pl-3">admin dashboard</small>
        <ul>
            <h2 class="text-muted pl-3">manage users</h2>
            <li><a class="navbar-brand" type="button" (click)="onclick()"
            ><i class="fas fa-home"></i>providers</a></li>
            <li><a class="navbar-brand" type="button"  (click)="onclick3()"
                ><i class="fas fa-home"></i>customers</a></li>
            
           
        </ul> <small class="text-muted px-3">products</small>
        <ul>
            <li><a class="navbar-brand" type="button" (click)="onclick2()"><i class="far fa-credit-card"></i>Manage products</a></li>
            
        </ul> <small class="text-muted px-3">GROW YOUR CLIENT BASE</small>
        <ul>
            <li><a href="#"><i class="fas fa-external-link-alt"></i>Share</a></li>
            <li><a href="#"><i class="fas fa-code"></i>Add to Website</a></li>
        </ul>
       
    </div>

    
</div>